

<div class="aboutus">

    <h1> About </h1>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="medium-6 large-6 small-12 cell">
                <h3>Brett</h3>
                <img class="thumbnail" src="https://place-hold.it/200x200" alt="Brett photo.">
                <a href="https://www.linkedin.com/in/brettbelka/">LinkedIn</a>
                <a href="https://github.com/bbelka">GitHub</a>
            </div>
            <div class="medium-6 large-6 small-12 cell">
                <h3>Shaidee</h3>
                <img class="thumbnail" src="https://place-hold.it/200x200" alt="Shaidee photo.">
                <a href="https://www.linkedin.com/in/shaidee-alingcastre/">LinkedIn</a>
                <a href="https://github.com/sali6798">GitHub</a>
            </div>
            <div class="medium-6 large-6 small-12 cell">
                <h3>Yalda</h3>
                <img class="thumbnail" src="https://place-hold.it/200x200" alt="Yalda photo.">
                <a href="www.linkedin.com/in/yalda-aghazade">LinkedIn</a>
                <a href="https://github.com/zahraaliaghazadeh">GitHub</a>
            </div>
            <div class="medium-6 large-6 small-12 cell">
                <h3>JJ</h3>
                <img class="thumbnail" src="https://place-hold.it/200x200" alt="JJ photo.">
                <a href="https://www.linkedin.com/in/jordanjcardenas/">LinkedIn</a>
                <a href="https://github.com/cardeens">GitHub</a>
            </div>


        </div>

    </div>

    <br>

    <div class="wrap row small-up-1 medium-up-4">
        <div class="aboutApp">
            <div class="column">

            </div>
            <div class="column">
                <p>In a time where social distancing is the new normal, QuizPanda aims to connect people with fun,
                    simple,
                    and customizable quizzes. People can make a quiz of their own by adding as many multiple-choice
                    questions as they'd like, and can then send the quiz out to friends and family to see who tops the
                    leaderboard.</p>

                <p>Begin by creating an account so that you can create and save new quizzes, and send the link and
                    access
                    code to anyone you'd like to take your quiz. You can also take a quiz sent to you, and your past
                    quizzes
                    will be saved to your profile page so you can see how your score compares to others.</p>
            </div>
            <div class="column">

            </div>
        </div>
    </div>

</div>