<div class="aboutus actionCards">

    <div class="wrap row small-up-1 medium-up-4">
        <h1 class="cardTitles">About Quiz Panda</h1>
        <hr>
        <br>
        <div class="aboutApp">
            <div class="column">

            </div>
            <div class="column">
                <p>In a time where social distancing is the new normal, QuizPanda aims to connect people with fun,
                    simple,
                    and customizable quizzes. People can make a quiz of their own by adding as many multiple-choice
                    questions as they'd like, and can then send the quiz out to friends and family to see who tops the
                    leaderboard.</p>

                <p>Begin by creating an account so that you can create and save new quizzes, and send the link and
                    access
                    code to anyone you'd like to take your quiz. You can also take a quiz sent to you, and your past
                    quizzes
                    will be saved to your profile page so you can see how your score compares to others.</p>
            </div>
            <div class="column">

            </div>
        </div>
    </div>


    <br>

    <div class="grid-container">
        <h1 class="cardTitles">Meet the Team</h1>
        <hr>
        <br>
        <div class="grid-x grid-margin-x">
            <div class="medium-6 large-3 small-12 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4>Brett</h4>
                    </div>
                    <img src="/assets/images/Brett2.png">
                    <div class="card-section">
                        <a href="https://www.linkedin.com/in/brettbelka/">LinkedIn</a>
                    </div>
                    <div class="card-section">
                        <a href="https://github.com/bbelka">GitHub</a>
                    </div>
                </div>

            </div>
            <div class="medium-6 large-3 small-12 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4>Shaidee</h4>
                    </div>
                    <img src="/assets/images/Shaidee2.png">
                    <div class="card-section">
                        <a href="https://www.linkedin.com/in/shaidee-alingcastre/">LinkedIn</a>
                    </div>
                    <div class="card-section">
                        <a href="https://github.com/sali6798">GitHub</a>
                    </div>
                </div>

            </div>
            <div class="medium-6 large-3 small-12 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4>Yalda</h4>
                    </div>
                    <img src="/assets/images/yalda.png">
                    <div class="card-section">
                        <a href="www.linkedin.com/in/zahraaliaghazadeh">LinkedIn</a>
                    </div>
                    <div class="card-section">
                        <a href="https://github.com/zahraaliaghazadeh">GitHub</a>
                    </div>
                </div>


            </div>
            <div class="medium-6 large-3 small-12 cell">

                <div class="card">
                    <div class="card-divider">
                        <h4>JJ</h4>
                    </div>
                    <img src="/assets/images/JJ2.png">
                    <div class="card-section">
                        <a href="https://www.linkedin.com/in/jordanjcardenas/">LinkedIn</a>
                    </div>
                    <div class="card-section">
                        <a href="https://github.com/cardeens">GitHub</a>
                    </div>
                </div>



            </div>


        </div>

    </div>


<h5>&copy; 2020 Copyright</h5>

</div>

{{!--  --}}

