

{{!-- start content of adduser.handlebars --}}
<div class="addusercontainer">

    <h3 class="cardTitles"> Add User</h3>


    <form id="signupForm">
        <div class="grid-container actionCards">
            <div class="grid-y grid-padding-x">
                <div class="medium-4 cell">
                    <label>First Name
                        <input type="text" name="firstName" placeholder="First Name">
                    </label>
                </div>
                <div class="medium-4 cell">
                    <label>Last Name
                        <input type="text" name="lastName" placeholder="Last Name">
                    </label>
                </div>
                <div class="medium-4 cell">
                    <label>Email
                        <input type="email" name="email" placeholder="Email">
                    </label>
                </div>
                <div class="medium-4 cell">
                    <label>Username
                        <input type="text" name="username" placeholder="Username">
                    </label>
                </div>
                <div class="medium-4 cell">
                    <label>Password
                        <input type="password" name="password" placeholder="Password">
                    </label>
                </div>
                <div class="medium-4 cell">
                    <label>Confirm password
                        <input type="password" name="confirmPassword"
                            placeholder="Password has to be at least 8 characters">
                    </label>
                </div>
                <div class="medium-4 cell">
                    <button class="button primary" type="submit">Sign Up</button>
                </div>
                <div class="medium-4 cell">
                    <p id="havealogin">Already have a login? <a href="/login">Log in here</a></p>
                </div>
            </div>
        </div>
    </form>

    {{!-- end of content of adduser.handlebars --}}

</div>