{{!-- start content of adduser.handlebars --}}
<div class="addusercontainer actionCards">
    <form id="signupForm">
        <div class="grid-container">
            <div class="grid-y grid-padding-x">
                <div class="medium-4 cell">
                    <label>First Name</label>
                    <input type="text" name="firstName" placeholder="First Name">

                </div>
                <div class="medium-4 cell">
                    <label>Last Name</label>
                    <input type="text" name="lastName" placeholder="Last Name">

                </div>
                <div class="medium-4 cell">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email">

                </div>
                <div class="medium-4 cell">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">

                </div>
                <div class="medium-4 cell">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">

                </div>
                <div class="medium-4 cell">
                    <label>Confirm password</label>
                    <input type="password" name="confirmPassword" placeholder="Confirm password">

                </div>
                <div class="medium-4 cell">
                    <button class="button primary" type="submit">Sign Up</button>
                </div>
                <div class="medium-4 cell">
                    <p id="havealogin">Already have a login? <a href="/login">Log in here</a></p>
                </div>
            </div>
        </div>
    </form>

    {{!-- end of content of adduser.handlebars --}}

</div>
{{!--  --}}