
    <main>
      <div class="container">
          <img class="mainlogo" src="/assets/images/panda.svg" alt="logo">
        <h1 id="main_header" class="brandname">Quiz Panda</h1>
        <p class="mainintro">Quiz Making Made Easy<br><br>What are you waiting for? An easier quizmaking experience is a click away...</p>
        <a href="/signup">
          <button class="mainButton">Sign Up Now!</button>
        </a>
      </div>
    </main>

{{!--  --}}