{{!-- jumbotron of first page --}}

<div class="jumbotron">
    <h1 id="intro"> Quiz Making Made Easy</h1>
   
</div>


{{!-- add introduction to the app --}}
<p>
    With Quiz Panda You can easily create a quiz and have the link sent to your friends!
</p>