{{!-- jumbotron of first page --}}

{{!-- <div class="jumbotron">
    <h1 id="intro"> Quiz Making Made Easy</h1>

</div> --}}


{{!-- add introduction to the app --}}

{{!-- <div class="introinfo">
    <p>With Quiz Panda You can easily create a quiz and have the link sent to your friends! </p>
    <p>Click below to start your login process:</p>

    <a class="button primary">Login</a>
</div> --}}


    <main>
      <div class="container">
          <img class="mainlogo" src="/assets/images/panda.svg" alt="logo">
        <h1 id="main_header" class="brandname">Quiz Panda</h1>
        <p class="mainintro">Quiz Making Made Easy<br><br>What are you waiting for? An easier quizmaking experience is a click away...</p>
        <a href="/signup">
          <button class="mainButton">Sign Up Now!</button>
        </a>
      </div>
    </main>

