{{!-- jumbotron of first page --}}

<div class="jumbotron">
    <h1 id="intro"> Quiz Making Made Easy</h1>

</div>


{{!-- add introduction to the app --}}

<div class="introinfo">
    <p>With Quiz Panda You can easily create a quiz and have the link sent to your friends! </p>
    <p>Click below to start your login process:</p>

    <a class="button primary">Login</a>
</div>