{{!-- start of  leaderboard start --}}
<div class="grid-contaner">
  <div class="grid-x grid-padding-x">
    <div class="medium-3 cell"></div>

    <div class="medium-6 cell actionCards">
      <table>
        <h3 class="cardTitles"> Leaderboard for {{title}}</h3>
        <thead>
          <tr>
            <th width="200">Username</th>
            <th width="150">score</th>
          </tr>
        </thead>
        <tbody>
          {{#each Users}}
          <tr>
            <td>{{username}}</td>
            <td>{{QuizUser.score}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="medium-3 cell"></div>

  </div>
</div>
{{!--  end of leaderboard --}}
{{!--  --}}