{{!-- start of  leaderboard start --}}
<div class="grid-container">
  <div class="actionCards">
    <table>
      <h3 class="cardTitles">Leaderboard for {{title}}</h3>
      <thead>
        <tr>
          <th width="200">Username</th>
          <th width="150">score</th>
        </tr>
      </thead>
      <tbody>
        {{#each Users}}
        <tr>
          <td>{{username}}</td>
          <td>{{QuizUser.score}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <a href="/profile"><button class="button primary" type="submit">Profile</button></a>
    {{#if canRetake}}
    <a href="/quiz/{{accessCode}}"><button class="button primary" type="submit">Retake quiz</button></a>
    {{/if}}
  </div>
</div>

<script>
  $('a[href="/signup"]').children().text("Account");
  $('a[href="/signup"]').attr("href", "/account")

  $('a[href="/login"]').children().text("Log Out");
  $('a[href="/login"]').attr("href", "/logout")

  $('a[href="/"]').attr("href", "/profile")  
</script>
{{!--  end of leaderboard --}}