
{{!-- start of  leaderboard start --}}
<table>
<h1> Leaderboard</h1>  
<thead>
    <tr>
      <th width="200">Username</th>
      <th width="150">score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>

{{!--  end of leaderboard --}}


