{{!-- content of login.handlebars --}}
<div class="grid-container">
  <div class="logincontainer actionCards">
    <form id="loginForm">
      <div class="grid-y grid-padding-y">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username">

        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
        
        <div><button class="button" type="submit"> Login </button></div>

        <div id="loginError" class="formError"></div>
        <p>Don't have a login? <a href="/signup">Sign up here</a></p>

      </div>
    </form>
  </div>
</div>
<script src="/assets/js/loginAndSignup.js"></script>


{{!-- end of content of login handlebars --}}