{{!-- content of login.handlebars --}}
<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
        <label>Username
          <input type="text" placeholder="Username">
        </label>
      </div>

      <div class="medium-12 cell">
        <label>Password
          <input type="text" placeholder="Password">
        </label>
      </div>

   <button> Login </button>

    </div>
</form>

{{!-- end of content of login handlebars --}}