<h1>Begin Building Your Quiz!</h1>

<form>
  <div class="grid-container">
      <div class="grid-x grid-padding-x">
          <h3>Enter the name of your quiz:</h3>
          <label>
          <input type="text" placeholder="Name">
        </label>
      </div>
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Enter your email address:
          <input type="text" placeholder="Email">
        </label>
      </div>
      <fieldset class="medium-6 cell">
        <legend>Should this quiz be retakeable?</legend>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Yes</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">No</label>
      </fieldset>
    </div>
  </div>
</form>