<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <label>Enter your question
          <input type="text" placeholder="Question">
        </label>
        <label>Answer Option 1
          <input type="text" placeholder="Answer">
        </label>
        <label>Answer Option 2
          <input type="text" placeholder="Answer">
        </label>
        <label>Answer Option 3
          <input type="text" placeholder="Answer">
        </label>
        <label>Answer Option 4
          <input type="text" placeholder="Answer">
        </label>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="medium-3 cell">
            <button>Go Back</button>
        </div>
        <div class="medium-3 cell">
            <button>Save Question</button>
        </div>
        <div class="medium-3 cell">
            <button>Finish!</button>
        </div>
        <div class="medium-3 cell">
            <button>Next Question</button>
        </div>
    </div>
  </div>
</form>