
<h3>Quiz Name</h3>

<div class="grid-container">
    <div class="grid-x grid-padding-x">

    <fieldset class="large cell">
        <legend>Question</legend>
        <input id="option1" type="checkbox"><label for="checkbox1">Option 1</label>
        <input id="option2" type="checkbox"><label for="checkbox2">Option 2</label>
        <input id="option3" type="checkbox"><label for="checkbox3">Option 3</label>
        <input id="option4" type="checkbox"><label for="checkbox4">Option 4</label>
    </fieldset>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
            <button>Go Back</button>
        </div>
        <div class="medium-6 cell">
            <button>Next Question</button>
        </div>
    </div>
</div>