
 <header>
      <div class="container">
        <h1 class="brandname">Quiz Panda</h1>

        <nav>
          <ul>
            <li><a href="#"><span>About</span></a></li>
            <li><a href="/login"><span>Login</span></a></li>
            <li><a href="/signup"><span>Sign Up</span></a></li>
          </ul>
        </nav>
      </div>
    </header>




  <div class="grid-container profilecardcontainer">
    <div class="grid-padding-x grid-x">
      {{!-- Take a quiz card --}}
      <div class="cell small-12 large-6">
        <div class="card profileCards" style="">
          <div id="takeQuiz" class="card-section">
            <h3>Take a Quiz!</h3>
            <br>
            <p>Enter your access code below to get started:</p>
            <form id="accesscodeForm">
              <label>
                <input name="accesscode" type="text" placeholder="Access Code">
              </label>
              <button class="button primary" type="submit">Go!</button>
            </form>
          </div>
        </div>
      </div>

      {{!-- Create a quiz card --}}
      <div class="cell small-12 large-6">

        <div class="card profileCards" style="">
          <div class="card-section">
            <h3>Create a quiz!</h3>
            <br>
            <p>Click to begin creating a shareable quiz:</p>
            <a href="/createquiz"><button class="button primary">Go!</button></a>
          </div>
        </div>
      </div>

    </div>

  </div>


  {{!-- Past quiz table --}}
  <table>
    <h3></h3>
    {{!-- <thead>
    <tr>
      <th width="200">Quiz Name</th>
      <th width="150">Leaderboard</th>
      <th width="150">Retake Quiz</th>
    </tr>
  </thead> --}}

    <tbody>
      {{#each quiz}}
      <tr>
        <td>{{this.title}}</td>
        <td>
          <a href="/leaderboard/{{QuizID}}">
            <button class="button">Leaderboard</button>
          </a>
        </td>
        <td>
          {{#if this.canRetake}}
          <a href="/quiz/{{QuizID}}">
            <button class="button">Retake Quiz</button>
          </a>
          {{/if}}
        </td>

      </tr>
      {{/each}}
    </tbody>
  </table>



{{!-- </div> --}}


