<div class="grid-container">
  <div class="profilecardcontainer">
    <div class="grid-padding-y grid-y">
      {{!-- Take a quiz card --}}
      <div class="cell small-12 large-6">
        <div class="card actionCards" style="">
          <div id="takeQuiz" class="card-section">
            <h3 class="cardTitles">Take a Quiz!</h3>
            <br>
            <p>Enter your access code below to get started:</p>
            <form id="accesscodeForm">
              <label>
                <input name="accesscode" type="text" placeholder="Access Code">
              </label>
              <button class="button primary" type="submit">Go!</button>
            </form>
          </div>
        </div>
      </div>

      {{!-- Create a quiz card --}}
      <div class="cell small-12 large-6">
        <div class="card actionCards" style="">
          <div class="card-section">
            <h3 class="cardTitles">Create a quiz!</h3>
            <br>
            <p>Click to begin creating a shareable quiz:</p>
            <a href="/createquiz"><button class="button primary">Go!</button></a>
          </div>
        </div>
      </div>

    </div>



    {{!-- Past quiz table --}}
    {{#if User.Quizzes}}
    <div class="cell small-12 large-6">
      <div class="card actionCards">
        <div class="card-section">
          <h3 class="cardTitles">Past quizzes</h3>
          <table>
            <tbody>
              {{#each User.Quizzes}}
              <tr>
                <td>{{this.title}}</td>
                <td>
                  <a href="/leaderboard/{{this.id}}">
                    <button class="button">Leaderboard</button>
                  </a>
                </td>
                <td>
                  {{#if this.canRetake}}
                  <a href="/quiz/{{this.accessCode}}">
                    <button class="button">Retake Quiz</button>
                  </a>
                  {{/if}}
                </td>

              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>
{{!-- </div> --}}

{{!--  --}}

